<div class="social column one-third">

    <p>Paul de Rosanbo</p>

    <p><img src="/images/Paul.png" /></p>

    <p><a href="mailto:paul@rosanbo.com"><i class="fa fa-envelope"></i>&nbsp;paul@rosanbo.com</a></p>
    <p class="icons">
        <a href="https://www.github.com/polo2ro" title="Github"><i class="fa fa-github"></i></a>
        <a href="https://twitter.com/paulderosanbo" title="Twitter"><i class="fa fa-twitter"></i></a>
        <a href="https://framasphere.org/people/25627fe0aa67013296982a0000053625" title="Diaspora"><i class="fa fa-plus-circle"></i></a>
        <a href="https://www.linkedin.com/in/paul-derosanbo/" title="LinkedIn"><i class="fa fa-linkedin"></i></a>
        <a href="http://codepen.io/polo2ro/" title="CodePen"><i class="fa fa-codepen"></i></a>
        <a href="https://medium.com/@paul.derosanbo/" title="Medium"><i class="fa fa-medium"></i></a>
    </p>
</div>
